@import "./styles/_theme-vars.module.scss";

:root {
  font-family: "Montserrat", sans-serif;
}

body {
  margin: 0;
}

#home #movement_element {
  animation: movement 5s infinite;
}

@keyframes movement {
  0% {
    scale: 0.6;
  }

  50% {
    scale: 0.8;
  }

  100% {
    scale: 0.6;
  }
}